[Desktop Entry]
Name=Corola
GenericName=AI Meeting Notes
Comment=The AI notepad for private meetings
Exec=corola %U
Icon=com.corola.desktop
Terminal=false
Type=Application
Categories=Office;
Keywords=notes;meeting;transcription;ai;audio;recording;
StartupNotify=true
StartupWMClass=corola
MimeType=x-scheme-handler/corola;
X-GNOME-UsesNotifications=true
