[Desktop Entry]
Name=MinutesWise
GenericName=AI Meeting Notes
Comment=The AI notepad for private meetings
Exec=minuteswise %U
Icon=com.minuteswise.desktop
Terminal=false
Type=Application
Categories=Office;
Keywords=notes;meeting;transcription;ai;audio;recording;
StartupNotify=true
StartupWMClass=minuteswise
MimeType=x-scheme-handler/minuteswise;
X-GNOME-UsesNotifications=true
